/target
/classes
/checkouts
/demo/target
/demo/classes
/demo/checkouts
/demo/src/demo/ltximg
profiles.clj
pom.xml
pom.xml.asc
/demo/profiles.clj
/demo/pom.xml
/demo/pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/demo/.lein-*
/demo/.nrepl-port
.hgignore
.hg/
*.tex
*.log
src/literate_clojure/auto/